In [2]:
import pandas as pd 
import os
import json
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import pickle

## Extracción

In [ ]:
reviews = pd.read_csv('./Datasets/Yelp/review-002.csv')

In [ ]:
reviews.sample(2)

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
2124494,2124494,FMvKlH7Xm6eKiwpkp5FPhw,xJ6HoOEq1IvJXuHnMPA_ew,ZdkonZFKPrGVeu-ZLQfE6A,3,1,0,0,While this should probably be good or great th...,2021-03-21 17:24:58
4078080,4078080,U2GTcWdz5LdkykmdDnr53Q,X2Y8dvYme9vtcbjrIrcwIg,YzVm2QUvNwZ2cXwTczvCnw,1,6,0,1,This is a review I started to post the first w...,2020-07-25 20:33:59

In [3]:
path_business = os.path.join('..','..','data','yelp','business.csv.gz')
business = pd.read_csv(path_business)

## Transformación

In [6]:
reviews = reviews[reviews['business_id'].isin(business['business_id'])]

In [7]:
reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,año
0,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5,0,0,0,"Great burgers,fries and salad! Burgers have a...",2017-01-02 03:17:34,2017
1,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,1,0,0,"If I could give it a zero, I would. I order a ...",2011-08-24 23:07:08,2011
2,onlgwy5qGDEzddsrnIvtWg,pYXeL0RCqus2IfhthYCOyA,W7NxQw8UYFR0HLPrI08tvw,4,0,0,0,Don't know what it is but If my tummy's feelin...,2012-02-01 14:21:25,2012
3,9IG9eB3K-RdIonPBuZ0psw,t2IL-HIXQKd6iZ6cIY8kcg,jOOOrH5n2ijnsZKxzPSAiw,5,0,0,0,This is one of the busiest Chick fil A's I've ...,2016-04-23 15:13:10,2016
4,LO2C_mywzQy5BvdEeONR1A,jvURGq9nyZkTF1KuSaZC_g,CYwC5OjwCN6ib_AQDxi3Ow,5,0,0,0,Love in n out. There's just a mood for in n ou...,2016-08-12 21:30:55,2016
...,...,...,...,...,...,...,...,...,...,...
231776,ZgMFhqwQze4gLJJqUevgqg,eE5cGP32rTKr8IiBLSYevw,aK6R2akvIK9ijw3FvDy8vw,1,0,0,0,"this place sucks. horrible customer service, I...",2018-04-07 02:15:25,2018
231777,1ShPBvmfhhFIqMUI_NZi9A,34vtVo9AoCUr_w6CEcQ_Bg,QnHd7ZdlpLDl5BqEFeiIBg,5,1,0,0,Well Mooresville steak 'n Shake is back and I ...,2021-09-15 00:15:48,2021
231778,ZumvJCSs0l6XixIzSK-V0w,L0RgciChknpMBXu78nRW1g,lw6OXWUzcwtTzbdh4b0a6g,5,0,0,0,The customer service at this Jimmy John's is g...,2012-03-15 02:27:44,2012
231779,MVg4YUQeEhCA7Z7RsBJSVg,7-7A0Avj47slLGV7yBFc8w,ytynqOUb3hjKeJfRj5Tshw,3,1,0,0,"I was so excited about all the food I saw, but...",2013-07-25 21:00:15,2013
231780,7NgXAuTFiJHYbuepOPwU0w,x1QLCwZGFAjxRRw4EHc3-g,1_BVWDzi5cVqWxNe9bOMMQ,5,1,0,1,Don't misinterpret my 5-star review....I don't...,2016-04-30 01:02:34,2016

### División de datos para carga incremental

In [5]:
reviews = pd.read_csv('../../data/yelp/reviews.csv.gz')

In [8]:
reviews['año'] = pd.to_datetime(reviews['date']).dt.year

reviews_2022 = reviews[reviews['año'] == 2022]
reviews = reviews[reviews['año'] < 2022]

## Carga

In [9]:
reviews_path = os.path.join('..','..','data','yelp','reviews.csv.gz')
reviews.to_csv(reviews_path,index=False, compression='gzip')


reviews_path_2022 = os.path.join('..','..','data','yelp','reviews_2022.csv.gz')
reviews_2022.to_csv(reviews_path_2022,index=False, compression='gzip')